@charset "utf-8";

/*--通用样式--*/

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.link a:link,
.link a:visited {}

.link a:hover,
.link a:active {}


/*--通用样式结束--*/


/*-响应式样式-*/

@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
        padding: 10px;
    }
    #main-content {
        width: 66%;
        margin-right: 1%;
    }
    .pag-btn {
        padding: 12px 16px;
    }
    .wid-search-mb {
        display: none;
    }
    #search_input {
        width: 200px;
    }

    .btn-toggle{
    	display: none;
    }
     .top-link-toggle{
    	display: none;
    }
    #nav-top-toggle{
    	display: none !important;
    }
    #nav-top{
    	display: block;
    }
    /*gallery图像*/
    .img-box-bg{
		width: 48%;
		margin-right: 2%;
	}
	.img-box-sm{
		width: 24%;
		margin-right: 1%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 900px;
        padding: 10px;
    }
    #main-content {
        width: 66%;
        margin-right: 1%;
    }
    .pag-btn {
        padding: 10px 14px;
    }
    .wid-search-mb {
        display: none;
    }
    #search_input {
        width: 200px;
    }
     .btn-toggle{
    	display: none;
    }
    #nav-top-toggle{
    	display: none !important;
    }

    #nav-top{
    	display: block;
    }
     /*gallery图像*/
    .img-box-bg{
		width: 48%;
		margin-right: 2%;
	}
	.img-box-sm{
		width: 24%;
		margin-right: 1%;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 720px;
        padding: 10px;
    }
    #main-content {
        width: 66%;
    }
    .pag-btn {
        padding: 8px 10px;
    }
    .wid-search-mb {
        display: none;
    }
    #search_input {
        width: 140px;
    }
    .btn-toggle{
    	display: none ;
    }
    #nav-top-toggle{
    	display: none !important;
    }
    #nav-top{
    	display: block;
    }
     /*gallery图像*/
    .img-box-bg{
		width: 48%;
		margin-right: 2%;
	}
	.img-box-sm{
		width: 24%;
		margin-right: 1%;
	}
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    #sider-bar {
        display: none;
    }
    #main-content {
        width: 90%;
        margin-left: 6%;
    }
    .pag-btn {
        padding: 8px 10px;
    }
    .wid-search-mb {
        display: block;
    }
    #search_input {
        width: 80%;
    }
    .btn-toggle{
    	display: block;
    }
    #nav-top-toggle{
    	display: none;
    }
    #nav-top{
    	display: none;
    }
    /*gallery图像只显示1-2张*/
    .img-box-bg{
		width: 96%;
		margin:0 2%;
	}
	.img-box-sm{
		width: 48%;
		margin-right: 2%;
	}
}


/*--header部分--*/

header {
    background-color: #522a5c;
    padding-top: 1px;
   
    position: relative;
}

#logo {
    margin-top: 40px;
    font-size: 22px;
    color: #fff;
    float: left;
    width: 40%;
}


/*顶部导航*/

#navbar-top{
	  margin-top: 40px;
    float: left;
    width: 60%;
}


.top-link {
    list-style: none;
    text-align: right;
}

.top-link li {
    display: inline-block;
    padding: 0 0px 0 20px;
}

.top-link a:link,
.top-link a:visited {
    text-decoration: none;
    display: block;
    color: #fff;
}

.top-link a:hover,
.top-link a:active {
    color: #da81f1;
}
/*汉堡式菜单*/
.btn-toggle{
	width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-top: -17px;
    background-color: #522a5c;
    border: solid 3px #fff;
    float: right;
    margin-right: 20px;
}
/*移动端导航*/
.nav-top-toggle{

}
.top-link-toggle{
	border-top: 1px solid #fff;
	background-color: #522a5c;
	list-style: none;
	z-index: 100;
}
.top-link-toggle a:link,.top-link-toggle a:visited
{
	color: #fff;
	display: block;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	text-indent: 2em;

}
.top-link-toggle a:hover,.top-link-toggle a:active
{
	background-color: #bd80ce;

}
.btn-toggle span{
	display: block;
    background-color: #fff;
    height: 5px;
    border-radius: 2px;
    width: 67%;
    margin: 4px auto;
}
/*--header部分结束--*/


/*--主体部分--*/

#page-content {
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 50px;
}

#main-content {
    float: left;
    min-height: 300px;
}

#sider-bar {
    float: left;
    width: 33%;
    min-height: 300px;
}

/*------------------blog页面开始------------------*/
/*--左侧区域开始--*/
/*文章块 悬停效果用css3中过渡*/

.article-box {
    min-height: 300px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 2px 5px #b9b9b9;
    margin-bottom: 10px;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s;
    /* Safari and Chrome */
    -o-transition: all 0.6s;
    /* Opera */
}

.article-box:hover {
    background-color: #fcfcfc;
    box-shadow: 5px 9px 6px #b1a7a7;
}


/*文章时间和分类标签*/

.caption-date,
.caption-sort {
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 40px;
    width: 50px;
    height: 40px;
}

.caption-date {
    background-color: #522a5c;
    top: 20px;
    left: -50px;
}

.caption-sort {
    background-color: #a660b7;
    top: 60px;
    left: -50px;
}


/*文章内容*/

.article {
    padding: 20px;
}

.article h2 {
    font-size: 16px;
    line-height: 25px;
    color: #a660b7;
}

.article h3 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #666666;
}

.article p {
    font-size: 12px;
    line-height: 20px;
    text-indent: 2em;
}

.article-info {
    font-size: 12px;
    text-align: right;
    padding: 0 20px;
    color: #666666;
}


/*分页按钮*/

.pagination {
    text-align: center;
}

.pag-btn {
    border: 0;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 3px;
    color: #333;
}

.pag-btn-invalid {
    color: #ccc;
}

.pag-btn:hover,
.pag-btn-now {
    background-color: #a660b7;
    color: #fff;
}


/*--左侧区域结束--*/


/*--右侧区域开始--*/

.widget {
    background-color: #fff;
    box-shadow: 0px 2px 5px #b9b9b9;
    margin-bottom: 10px;
}

.wid-search {
    padding: 20px;
    text-align: center;
}

#search_input {
    border: 1px solid #ccc;
    height: 30px;
    text-indent: 1em;
}

.btn-search {
    background-color: #522a5c;
    color: #fff;
    border: 0;
    height: 32px;
    padding: 0 16px;
    border-radius: 2px;
    margin-left: -10px;
}

.category-link {
    list-style: none;
}

.category-link li {
    height: 50px;
    border-bottom: solid 1px #ccc;
}

.category-link a:link,
.category-link a:visited {
    text-indent: 20px;
    display: block;
    color: #333;
    line-height: 50px;
    text-decoration: none;
}

.category-link a:hover,
.category-link a:active {
    background-color: #bd80ce;
    color: #fff;
}

.category-bg {
    display: block;
    width: 5px;
    float: left;
    height: 50px;
    background: url(../image/i-bg.png) repeat repeat;
}

.category-bg-now {
    background: url(../image/i-bg-now.png) repeat repeat;
}

.wid-calendar {}

.wid-tags {
    padding: 20px;
}

.wid-tags h2 {
    font-size: 18px;
}

.tags-content {
    margin-top: 10px;
}

.tag a:link,
tag a:visited {
    text-decoration: none;
    color: #333;
    display: block;
    float: left;
    text-align: center;
    border: solid 1px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.tag a:hover,
tag a:active {
    background-color: #844194;
    color: #fff;
}


/*--右侧区域结束--*/
/*------------------blog页面结束------------------*/


/*------------------gallery页面开始------------------*/
/*左侧标签页*/
.nav-tabs ul{
	list-style: none;
}
.nav-tabs ul li{
	display: block;
	float: left;
	
}
.a-tabs:link,.a-tabs:visited{
	display: block;
	padding: 12px 15px;
	background-color: #fff;
	color: #333;
	text-decoration: none;
	border-right:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}
.a-tabs:hover,.a-tabs:active{
	background-color: #e2e1e1;
}
.a-tab1{
	border-top:3px solid red;
}
.a-tab2{
	border-top:3px solid #dfc6e6;
}
.a-tab3{
	border-top:3px solid #d2a6ff;
}
.a-tab4{
	border-top:3px solid #ffa98c;
}
.a-tab5{
	border-top:3px solid #ffe188;
}
.a-tabs-active:link,.a-tabs-active:visited{
	border-bottom:1px solid #fff;
}

.tab-pag{
	background-color: #fff;
	padding: 20px;
	display: none;
}
.tab-pag-active{
	display: block
}
/*卡片*/

.img-box{
	float: left;
	
	position: relative;
}
.img-caption{
	position: absolute;
	bottom: 5px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
}
.img-title{
	padding:5px;
}
.img-content{
	padding: 5px;
}
.img-title h2{
	text-align: center;
	font-weight: normal;
	font-size: 16px;
}
.img-content p{
	text-align: center;
	font-style: normal;
	font-size: 12px;
}
/*-右侧进度条部分-*/

.wid-rank{
	padding: 20px;
}
.wid-rank h2{
	font-size: 16px;
	margin-bottom: 20px;
}
.ul-rank{
	padding-left: 20px;
}
.ul-rank li{
	height: 25px;
}

progress {
    margin-right: 5px;
    width: 48%;
    border: 1px solid #522a5c;  
    background-color:#e6e6e6;
    color: #522a5c; /*IE10*/
}

progress::-moz-progress-bar { background: #522a5c; }
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #522a5c; }
/*------------------gallery页面结束------------------*/

/*页脚*/

footer {
    background-color: #000;
    min-height: 180px;
}

#nav-bottom {
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.bottom-link {
    text-align: center;
}

.bottom-link li {
    display: inline-block;
}

.bottom-link a:link,
.bottom-link a:visited {
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.bottom-link a:hover,
.bottom-link a:active {
    color: #da81f1;
}


/*底部链接区域*/

.link-areas {
    width: 18%;
    min-width: 120px;
    float: left;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 2%;
}

.link-areas h2 {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 30px;
}

.link-areas a:link,
.link-areas a:visited {
    font-size: 13px;
    line-height: 30px;
    color: #fff;
}

.link-areas a:hover,
.link-areas a:active {
    color: #da81f1;
}

.copyright {
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
