@charset "utf-8";
* {
    padding: 0;
    margin: 0
}

#form1 {
    background: #fff;
    padding: 20px;
    width: 40%;
    min-width: 600px;
    margin: auto;
    font-size: 14px;
}
#form1 textarea{
    width:60%;
}

.form-group {
    margin: 5px auto;
}
#error{
    color:#ff0000;
}
#inter-submit {
    border: 0px;
    padding:5px 10px; 
    background-color: #358cbf ;
    color: #fff;
    border-radius:3px;
}
#result{
    min-height: 2em;
}